<% content_for :conteudo do %>
<div class="block" id="block">

  <div class="content">
    <h2 class="title">Relação de Convênios</h2>
    <div class="inner">
	
		<table class="table"> 
			<tr> 
				<th	class="first"><input type="checkbox" class="checkbox toggle check_all" rel="chk_convenios" /></th> 
				<th>Nome</th> 
				<th>Telefone</th> 
				<th>Responsável</th> 
				<th>E-mail</th>
				<th class="last">&nbsp;</th> 
			</tr> 
			<% for convenio in @convenios %>
			<tr class="<%= @convenios.index(convenio).even? ? 'odd' : 'even' %> <%= 'inativo' unless convenio.ativo? %>"> 
				<td><input type="checkbox" class="checkbox" name="id" value="<%= convenio.id %>" rel="chk_convenios"/></td>
				<td><%= h convenio.nome %></td>
				<td><%= h convenio.telefone %></td>
				<td><%= h convenio.responsavel %></td>
				<td><%= h convenio.email %></td>
				<td class="last">
					<%= form_for :convenio, :url => convenio_path(convenio), :html => { :method => :delete } do |f| %>
						<%=link_to 'exibir', convenio %> 
						<% if convenio.ativo? %>
						| <%=link_to 'alterar', edit_convenio_path(convenio) %> 
						| <a href="#" onclick="if(confirm('Você confirma?')) $(this).parent().submit();"/>inativar</a>
						<% end %>
					<% end %>
				</td> 
			</tr> 
			<% end %>
		</table>
		
		<%= will_paginate @convenios %>
		
	</div>
  </div>
</div>
<% end %>

<% content_for :navegacao do %>
<div class="block navegacao">
  <h3>Navegação</h3>
  <ul class="navigation">
    <li><a href="<%= new_convenio_path %>">Criar novo convênio</a></li>
  </ul>
</div>
<% end -%>
