<% content_for :js do %>
$(document).ready(function(){
		$("#tabs").tabs();
});
<% end %>

<% content_for :conteudo do %>
	<div class="block" id="block">
		<div class="content">
			<%= render :partial => 'shared/avisos' %>
			<div id="tabs">
				
				<ul>
					<li><a href="#">Dados Gerais</a></li>
					<li><a href="#servicos">Tabela de Serviços</a></li>
				</ul>

				<div id="servicos">
		   		<h2 class="title"><%=h @convenio.nome %></h2>
					<div class="inner exibicao_dados">
			  		<div class="info">
			        <p>
		        		<span class="descricao">Endereço</span><%=h @convenio.endereco %>
		        	</p>
		
							<div class="agrupar_campos">
								<p>
									<span class="descricao">Bairro:</span><%=h @convenio.bairro %>
					  		</p>
							</div>				    
					  
					    <div class="agrupar_campos">
								<p>
									<span class="descricao">CEP:</span><%=h @convenio.cep %>
					  		</p>
							</div>	
					    
				    	<p>
								<span class="descricao">Nome do Responsável:</span><%=h @convenio.responsavel %>
				  		</p>
							
							<div class="agrupar_campos">
								<p>
									<span class="descricao">Telefone:</span><%=h @convenio.telefone %>
					  		</p>
							</div>	
							
							<div class="agrupar_campos">
								<p>
									<span class="descricao">E-mail:</span><a href="mailto:<%=h @convenio.email %>"><%=h @convenio.email %></a>
					  		</p>
							</div>
					    		    
					    <p>
					    	<span class="descricao">Website:</span><%=h @convenio.website %>
					  	</p>
					  	
					  	<p class="observacoes">
					    	<span class="descricao observacoes">Observações:</span><%=h @convenio.observacoes %>
					    </p>	
			  		</div>
			  		
					  <div class="botoes">
							<% link_to(convenios_path, :class => 'button') do %>
					      <%= image_tag 'cross.png', :alt => 'Voltar' %> Voltar
					    <% end %>
					  </div>
					  
					</div>
				</div>
			</div>
		</div>
	</div>
<% end -%>

<% content_for :navegacao do %>
<div class="block navegacao">
  <h3>Navegação</h3>
  <ul class="navigation">
    <li><a href="<%= new_convenio_path %>">Criar novo convênio</a></li>
    <li><a href="<%= edit_convenio_path(@convenio) %>">Editar convênio</a></li>
    <li><a href="<%= convenios_path %>">Voltar para listagem</a></li>
  </ul>
</div>
<% end -%>