<% content_for :js do %>
function novo() {
	$('#nova_excecao_de_material').show();
}

$(document).ready(function(){
		$("#tabs").tabs();
		$('#adicionar_excecao').click(novo);
		$('#nova_excecao_de_material').hide();
});

function deletar(id) {
	if(confirm('Você confirma?')) {
		var form = $("#deletar_"+ id);
		form.submit();
	}
}
<% end %>

<% content_for :conteudo do %>
<%= form_for([@convenio, @excecao], :html => { :class => "form"} ) do |f| %>	
	<div class="block" id="block">
		<div class="content">
			<%= render :partial => 'shared/avisos' %>
			<%= render :partial => 'shared/erros', :locals => { :f => f } %>

			<div id="tabs">
				
				<ul>
					<li><a href="#">Dados Gerais</a></li>
					<li><a href="#">Tabela de serviços</a></li>
					<li><a href="#servicos">Exceções de serviços</a></li>
					<li><a href="#materiais">Exceções de materiais</a></li>
				</ul>
				
				<div id="materiais">
					<h2 class="title"><%=h @convenio.tabela.nome %></h2>	

					<div class="inner exibicao_dados">
						<div class="info">
							<p>
								<span class="descricao">Valor padrão da CH:</span>R$ <%=h @convenio.valor_ch %>
				  		</p>
						</div>	
					
						<div class="descricao_tabela">
							<h3>Exceções de Materiais</h3>
							<a href="#" class="botao" id="adicionar_excecao">Adicionar Exceção</a>
						</div>
												
						<table class="table"> 
							<tr>
								<th class="first"></th> 
								<th>Material</th> 
								<th>Valor CH (em R$)</th> 
								<th>Valor Bruto (em R$)</th>
								<th class="last">&nbsp;</th> 
							</tr>
							<% if(@convenio.excecoesdemateriais.size == 0)%>
							<tr>
								<td colspan="5">Não há exceções para valores de materiais!</td>
							</tr>
							<% else %>
							<% for excecao in @convenio.excecoesdemateriais %>
							<tr class="odd"> 
								<td>&nbsp;</td>
								<td><%= h excecao.material.nome %></td> 
								<td><%= h excecao.valor_ch %></td> 
								<td><%= h excecao.valor_bruto %></td>
								<td>
									<%= form_for [@convenio, excecao], :html => { :method => :delete, :id => "deletar_#{excecao.id}" } do |f| %>
									<a href="#" onclick="deletar(<%=excecao.id%>);">deletar</a>
									<% end %>
									</td> 
							</tr> 							
							<% end %>
							<% end %> 
							<tr id="nova_excecao_de_material" class="odd">
								<td>&nbsp;</td>
								<td>
									<%= f.select :material_id, @convenio.tabela.materiais.collect{|material| ["#{material.nome} (#{material.codigo})", material.id]} %>
								</td>
								<td><%= f.text_field :valor_ch, :class => 'text_field' %></td>
								<td><%= f.text_field :valor_bruto, :class => 'text_field' %></td>
								<td><input type="submit" value="salvar" /></td>
							</tr>
						</table>						
					
					</div>
				</div>
			
			</div>
			
		</div>
	</div>
<% end %>
<% end -%>

<% content_for :navegacao do %>
<div class="block navegacao">
  <h3>Navegação</h3>
  <ul class="navigation">
    <li><a href="<%= new_convenio_path %>">Criar novo convênio</a></li>
    <li><a href="<%= edit_convenio_path(@convenio) %>">Editar convênio</a></li>
    <li><a href="<%= convenios_path %>">Voltar para listagem</a></li>
  </ul>
</div>
<% end -%>