<% content_for :conteudo do %>

	<div class="block" id="block">
		<div class="content">
			<%= render :partial => 'shared/avisos' %>
			
			<div class="inner exibicao_dados">
				
				<div class="foto">
					<img src="" alt="FOTO"/>
					<div class="info">
						<span class="nome"><%=h @medico.nome %></span>
						<span class="descricao">CRM:</span><%=h @medico.crm %>
					</div>
				</div
				
				<div class="info">
					<p>
				    <span class="descricao">Especialidade:</span><%=h @medico.especialidade %>
				  </p>
				  
				  <p>
				    <span class="descricao">Telefone:</span><%=h @medico.telefone %>
				  </p>
			    
			    <p>
				    <span class="descricao">E-mail:</span><%=h @medico.email %>
				  </p>
				  
				  <p>
				    <span class="descricao observacoes">Observações:</span><%=h @medico.observacoes %>
				  </p>
			  </div>

			  <div class="botoes">
					<% link_to(medicos_path, :class => 'button') do %>
			      <%= image_tag 'cross.png', :alt => 'Voltar' %> Voltar
			    <% end %>
			  </div>

			</div>
		</div>
	</div>
<% end -%>