<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @page_title or 'Easy Clínica' %></title>
	
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.2.custom' %>
  <%= stylesheet_link_tag 'easyclinica' %>
  <style type="text/css"><%= yield :css %></style>
  
	<%= javascript_include_tag 'jquery-1.4.2.min' %>
	<%= javascript_include_tag 'jquery-ui-1.8.2.custom.min' %>
	<%= javascript_include_tag 'jquery.maskedinput-1.2.2.min' %>
	<%= javascript_include_tag 'easyclinica' %>
	<script type="text/javascript" charset="utf-8"><%= yield :js %></script>
	<%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="#">Easy Clínica</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><a href="#">Dados da clínica</a></li>
          <li><a href="#">Configurações</a></li>
          <li><a class="logout" href="#">Logout</a></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf" id="menu-principal">
          <li id="menu-link-dashboard"><a href="#">Dashboard</a></li>
          <li id="menu-link-pacientes"><a href="#">Pacientes</a></li>
          <li id="menu-link-convenios"><a href="<%= convenios_path %>">Convênios</a></li>
          <li id="menu-link-medicos"><a href="<%= medicos_path %>">Médicos</a></li>
          <li id="menu-link-relatorios"><a href="#">Relatórios</a></li>
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div id="main">
	
				<%= yield(:conteudo) or yield %>

      </div>
      <div id="sidebar">
		  	<%= yield(:navegacao) %>

        <div class="block notice">
          <h3>Notícia</h3>
          <p>bla.</p>
        </div>
      </div>
    </div>
    
    <div id="footer">
      <p>Copyright &copy; 2010 Easy Clínica.</p>
    </div>
  </div>
</body>
</html>

